.App {
  text-align: center;
}

.container-inner{
  width: 350px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #dadada;
  background-color: #fff;
}

.container-inner h4{
  text-align: center;
}

#validateErrors, #ValidateErrors{
  color: #ff0000;
}
#PasswordChecker{
  list-style-type: none;
}

#PasswordChecker li {
  color: #ff0000;
  font-weight: 300;
  font-style: italic;
  padding: 2px;
}

#ConfirmPasswordCheck{
  color: #ff0000;
  font-weight: 300;
  font-style: italic;
}